manifest {
    name            = 'Merged annotator'
    author          = 'Sam Dougan (sd28@sanger.ac.uk) with configs from PAM Informatics'
    homePage        = ''
    description     = 'making the most of annotation tools available'
    mainScript      = 'main.nf'
    nextflowVersion = '>=25.10.3'
    version         = '0.0.1'
}

includeConfig 'conf/base.config'
includeConfig 'conf/advanced.config'

params {
    // === REQUIRED ===
    manifest                = ''
    outdir                  = 'results'

    // === MODE ===
    mode                    = 'single' // meta | single | pyrodigal | bakta | prodigal | prokka

    arg_annotate            = false   // run ARG screening subworkflow
    func_annotate           = false   // run functional annotation subworkflow
    cluster_proteome        = false   // mmseqs2 cluster proteins before func annotation

    // === DATABASE PATHS ===
    annotation_bakta_db     = '/data/pam/software/bakta/v6.0'
    arg_abricate_db         = '/data/pam/software/abricate/db/'
    arg_abricate_db_id      = 'ncbi'
    arg_amrfinderplus_db    = '/data/pam/software/amrfinder/latest/'
    eggnog_data_dir         = '/data/pam/software/eggnog/v5.0/'
    dbcan_db                = '/data/pam/software/run_dbcan/5.2.5/db/'
    vfdb_db                 = '/data/pam/team230/sd28/scratch/secondment_162/dbs/vfdb/VFDB_setB_pro.dmnd'
    kofam_db                = '/data/pam/software/kofam_scan/'

}

env {
    REF_PATH = '/lustre/scratch125/core/sciops_repository/cram_cache/%2s/%2s/%s:/lustre/scratch126/core/sciops_repository/cram_cache/%2s/%2s/%s:URL=http:://refcache.dnapipelines.sanger.ac.uk::8000/%s'
}

process {
    resourceLimits = [ cpus: 24, memory: 768.GB, time: 72.h ]
    maxForks       = 50
    maxRetries     = 3

    errorStrategy = {
        task.exitStatus in [130, 140, 9] ? 'retry' : 'ignore'
    }
}

profiles {
    standard {
        outputDir = 'results'
        workflow.output.mode = 'copy'

        executor {
            name            = 'lsf'
            perJobMemLimit  = true
            submitRateLimit = '5 sec'
            killBatchSize   = 50
        }

        docker.enabled = false

        singularity {
            enabled    = true
            autoMounts = true
            runOptions = '--bind /data,/lustre,/nfs,/software'
            libraryDir = System.getenv('NEXTFLOW_SINGULARITY_LIBRARY')
        }

        process {
            executor = 'lsf'
            queue    = { task.memory > 745.GB ? 'teramem'  :
                         task.memory > 256.GB ? 'hugemem'  :
                         task.time   <= 30.m  ? 'small'    :
                         task.time   <= 12.h  ? 'normal'   :
                         task.time   <= 48.h  ? 'long'     :
                         task.time   <= 168.h ? 'week'     :
                         'basement' }
        }
    }
}

includeConfig 'conf/module.config'

plugins {
  id 'nf-schema@2.6.1'
}

validation {
  help {
    enabled = true
  }
}