/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Advanced / fine-grained tool parameters
    These are sensible defaults. Override any of these on the CLI or in a custom config.
    Normal usage should not require touching this file.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {

    // --- Output behaviour ---
    publish_dir_mode    = 'copy'
    save_annotations    = true
    save_db             = false
    save_intermediate   = false

    // --- Bakta ---
    annotation_bakta_meta                           = false
    annotation_bakta_db_downloadtype                = 'full'
    annotation_bakta_mincontiglen                   = 1
    annotation_bakta_translationtable               = 11
    annotation_bakta_gram                           = '?'
    annotation_bakta_complete                       = false
    annotation_bakta_renamecontigheaders            = false
    annotation_bakta_compliant                      = false
    annotation_bakta_trna                           = false
    annotation_bakta_tmrna                          = false
    annotation_bakta_rrna                           = false
    annotation_bakta_ncrna                          = false
    annotation_bakta_ncrnaregion                    = false
    annotation_bakta_crispr                         = false
    annotation_bakta_skipcds                        = false
    annotation_bakta_pseudo                         = false
    annotation_bakta_skipsorf                       = false
    annotation_bakta_gap                            = false
    annotation_bakta_ori                            = false
    annotation_bakta_activate_plot                  = false
    annotation_bakta_hmms                           = null

    // --- Pyrodigal ---
    annotation_pyrodigal_meta                       = false
    annotation_pyrodigal_closed                     = false
    annotation_pyrodigal_transtable                 = false
    annotation_pyrodigal_forcenonsd                 = false
    annotation_pyrodigal_star_stop                  = false
    annotation_pyrodigal_annotate_gaps              = false
    annotation_pyrodigal_output_format              = 'gff'

    // --- Prodigal ---
    annotation_prodigal_meta                        = false
    annotation_prodigal_closed                      = false
    annotation_prodigal_transtable                  = false
    annotation_prodigal_forcenonsd                  = false
    annotation_prodigal_annotate_gaps               = false
    annotation_prodigal_output_format               = 'gff'

    // --- Prokka ---
    annotation_prokka_rawproduct                    = false
    annotation_prokka_kingdom                       = 'Bacteria'
    annotation_prokka_gcode                         = 11
    annotation_prokka_cdsrnaolap                    = false
    annotation_prokka_rnammer                       = false
    annotation_prokka_mincontiglen                  = 1
    annotation_prokka_evalue                        = 0.000001
    annotation_prokka_coverage                      = 80
    annotation_prokka_compliant                     = true
    annotation_prokka_addgenes                      = false
    annotation_prokka_retaincontigheaders           = false

    // --- ARG tool switches ---
    arg_skip_fargene                                = false
    arg_skip_rgi                                    = false
    arg_skip_amrfinderplus                          = false
    arg_skip_deeparg                                = false
    arg_skip_abricate                               = false
    arg_skip_argnorm                                = false
    arg_hamronization_summarizeformat               = 'tsv'

    // --- fARGene ---
    arg_fargene_hmmmodel                            = 'class_a,class_b_1_2,class_b_3,class_c,class_d_1,class_d_2,qnr,tet_efflux,tet_rpg,tet_enzyme'
    arg_fargene_savetmpfiles                        = false
    arg_fargene_minorflength                        = 90
    arg_fargene_score                               = null
    arg_fargene_translationformat                   = 'pearson'
    arg_fargene_orffinder                           = false

    // --- RGI ---
    arg_rgi_db                                      = null
    arg_rgi_savejson                                = false
    arg_rgi_savetmpfiles                            = false
    arg_rgi_alignmenttool                           = 'BLAST'
    arg_rgi_includeloose                            = false
    arg_rgi_includenudge                            = false
    arg_rgi_lowquality                              = false
    arg_rgi_data                                    = 'NA'
    arg_rgi_split_prodigal_jobs                     = true

    // --- AMRFinderPlus ---
    arg_amrfinderplus_identmin                      = -1
    arg_amrfinderplus_coveragemin                   = 0.5
    arg_amrfinderplus_translationtable              = 11
    arg_amrfinderplus_plus                          = false
    arg_amrfinderplus_name                          = false

    // --- DeepARG ---
    arg_deeparg_db                                  = null
    arg_deeparg_db_version                          = 2
    arg_deeparg_model                               = 'LS'
    arg_deeparg_minprob                             = 0.8
    arg_deeparg_alignmentidentity                   = 50
    arg_deeparg_alignmentevalue                     = 1E-10
    arg_deeparg_alignmentoverlap                    = 0.8
    arg_deeparg_numalignmentsperentry               = 1000

    // --- ABRicate ---
    arg_abricate_minid                              = 80
    arg_abricate_mincov                             = 80

    // --- MMseqs2 ---
    mmseqs_clusterPrefix                            = 'mmseqs_clustering'
    mmseqs_tmpDir                                   = 'mmseqs_clustering'
    mmseqs_command                                  = 'easy-linclust'
    mmseqs_cov_mode                                 = 0
    mmseqs_min_id                                   = 0.8
    mmseqs_min_cov                                  = 0.9

    // --- EggNOG ---
    eggnog_search_mode                              = 'diamond'

    // --- kofam ---
    kofam_scan_mode                                 = 'hmmscan'
    kofamscan_eval                                  = 0.00001

    // --- VFDB ---
    vfdb_identity                                   = 50
    vfdb_coverage                                   = 80
    vfdb_e_value                                    = 1e-10

    // --- CAZyme ---
    cazyme_hmm_eval                                 = 1e-15
    cazyme_hmm_cov                                  = 0.35

    // --- dRep ---
    drep_ignore_quality                             = true
    drep_algorithm                                  = 'skani'
}