/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
    ]

    /*
    withName: MULTIQC {
        ext.args   = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    */

    withName: GUNZIP {
        publishDir = [
            enabled: false
        ]
    }


    withName: BAKTA_BAKTADBDOWNLOAD {
        publishDir = [
            path: { "${params.outdir}/databases/bakta" },
            mode: params.publish_dir_mode,
            enabled: params.save_db,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.args   = [
            "--type ${params.annotation_bakta_db_downloadtype}"
        ].join(' ').trim()
    }

    withName: BAKTA_BAKTA {
        ext.prefix = { "${meta.ID}_bakta" }
        publishDir = [
            path: { "${params.outdir}/annotation/bakta/${meta.ID}/" },
            mode: params.publish_dir_mode,
            enabled: params.save_annotations,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.args   = [
            (params.mode == 'meta' || params.annotation_bakta_meta) ? '--meta' : '',
            "--min-contig-length ${params.annotation_bakta_mincontiglen}",
            "--translation-table ${params.annotation_bakta_translationtable}",
            "--gram ${params.annotation_bakta_gram}",
            params.annotation_bakta_complete ? '--complete' : '',
            params.annotation_bakta_renamecontigheaders ? '' : '--keep-contig-headers',
            params.annotation_bakta_compliant ? '--compliant' : '',
            params.annotation_bakta_trna ? '' : '--skip-trna',
            params.annotation_bakta_tmrna ? '' : '--skip-tmrna',
            params.annotation_bakta_rrna ? '' : '--skip-rrna',
            params.annotation_bakta_ncrna ? '' : '--skip-ncrna',
            params.annotation_bakta_ncrnaregion ? '' : '--skip-ncrna-region',
            params.annotation_bakta_crispr ? '' : '--skip-crispr',
            params.annotation_bakta_skipcds ? '--skip-cds' : '',
            params.annotation_bakta_pseudo ? '' : '--skip-pseudo',
            params.annotation_bakta_skipsorf ? '--skip-sorf' : '',
            params.annotation_bakta_gap ? '' : '--skip-gap',
            params.annotation_bakta_ori ? '' : '--skip-ori',
            params.annotation_bakta_activate_plot ? '' : '--skip-plot',
            params.annotation_bakta_hmms ? '--hmms ${params.annotation_bakta_hmms}' : '',
        ].join(' ').trim()
    }

    withName: PRODIGAL {
        publishDir = [
            path: { "${params.outdir}/annotation/prodigal/${meta.category}/" },
            mode: params.publish_dir_mode,
            enabled: params.save_annotations,
            pattern: "*.{faa,fna,gbk,faa.gz,faa.gz,fna.gz,gbk.gz}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.args   = [
            (params.mode == 'meta' || params.annotation_prodigal_meta) ? "-p meta" : "-p single",
            params.annotation_prodigal_closed ? "-c" : "",
            params.annotation_prodigal_forcenonsd ? "-n" : "",
            params.annotation_prodigal_annotate_gaps ? "" : "-m",
            params.annotation_prodigal_transtable ? "-g ${params.annotation_prodigal_transtable}" : "",
        ].join(' ').trim()
    }

    withName: PYRODIGAL {
        ext.prefix = { "${meta.ID}_pyrodigal" }
        publishDir = [
            path: { "${params.outdir}/annotation/pyrodigal/${meta.ID}/" },
            mode: params.publish_dir_mode,
            enabled: params.save_annotations,
            pattern: "*.{faa,fna,gbk,gff,score}.gz",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.args   = [
            (params.mode == 'meta' || params.annotation_pyrodigal_meta) ? "-p meta" : "-p single",
            params.annotation_pyrodigal_closed ? "-c" : "",
            params.annotation_pyrodigal_forcenonsd ? "-n" : "",
            params.annotation_pyrodigal_star_stop ? '--no-stop-codon' : '',
            params.annotation_pyrodigal_annotate_gaps ? "" : "-m",
            params.annotation_pyrodigal_transtable ? "-g ${params.annotation_pyrodigal_transtable}" : "",
        ].join(' ').trim()
    }

    withName: ALIGNMENT_SCORE {
        publishDir = [
            path: { "${params.outdir}/mmseqs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: ABRICATE_RUN {
        publishDir = [
            path: { "${params.outdir}/arg/abricate/${meta.ID}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.args   = [
            "--db ${params.arg_abricate_db_id}",
            "--minid ${params.arg_abricate_minid}",
            "--mincov ${params.arg_abricate_mincov}",
        ].join(' ').trim()
    }

    withName: AMRFINDERPLUS_UPDATE {
        publishDir = [
            path: { "${params.outdir}/databases/amrfinderplus" },
            mode: params.publish_dir_mode,
            enabled: params.save_db,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: AMRFINDERPLUS_RUN {
        publishDir = [
            path: { "${params.outdir}/arg/amrfinderplus/${meta.ID}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.args   = {
            [
                "--ident_min ${params.arg_amrfinderplus_identmin}",
                "--coverage_min ${params.arg_amrfinderplus_coveragemin}",
                "--translation_table ${params.arg_amrfinderplus_translationtable}",
                params.arg_amrfinderplus_plus ? '--plus' : '',
                params.arg_amrfinderplus_name ? "--name ${meta.ID}" : '',
            ].join(' ').trim()
        }
    }

    withName: DEEPARG_DOWNLOADDATA {
        publishDir = [
            path: { "${params.outdir}/databases/deeparg" },
            mode: params.publish_dir_mode,
            enabled: params.save_db,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: DEEPARG_PREDICT {
        publishDir = [
            path: { "${params.outdir}/arg/deeparg/${meta.ID}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.args   = [
            "--type prot",
            "--min-prob ${params.arg_deeparg_minprob}",
            "--arg-alignment-identity ${params.arg_deeparg_alignmentidentity}",
            "--arg-alignment-evalue ${params.arg_deeparg_alignmentevalue}",
            "--arg-alignment-overlap ${params.arg_deeparg_alignmentoverlap}",
            "--arg-num-alignments-per-entry ${params.arg_deeparg_numalignmentsperentry}",
        ].join(' ').trim()
    }

    withName: FARGENE {
        tag        = { "${meta.ID}|${hmm_model}" }
        publishDir = [
            [
                path: { "${params.outdir}/arg/fargene/${meta.ID}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                pattern: "*.log",
            ],
            [
                path: { "${params.outdir}/arg/fargene/${meta.ID}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                pattern: "*/results_summary.txt",
            ],
            [
                path: { "${params.outdir}/arg/fargene/${meta.ID}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                pattern: "*/{hmmsearchresults,predictedGenes,retrievedFragments}/*",
            ],
            [
                path: { "${params.outdir}/arg/fargene/${meta.ID}/" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                pattern: "*/{tmpdir}/*",
                enabled: params.arg_fargene_savetmpfiles,
            ],
        ]
        ext.prefix = { "${meta.hmm_class}" }
        ext.args   = {
            [
                "--hmm-model ${params.arg_fargene_hmmmodel}",
                "--logfile ${meta.ID}-${meta.hmm_class}.log",
                "--min-orf-length ${params.arg_fargene_minorflength}",
                "--score ${params.arg_fargene_score}",
                "--translation-format ${params.arg_fargene_translationformat}",
                params.arg_fargene_orffinder ? ' --orf-finder' : '',
            ].join(' ').trim()
        }
    }

    withName: UNTAR_CARD {
        ext.prefix = "card_database"
        publishDir = [
            [
                path: { "${params.outdir}/databases/rgi" },
                mode: params.publish_dir_mode,
                enabled: params.save_db,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            ]
        ]
    }

    withName: RGI_CARDANNOTATION {
        publishDir = [
            [
                path: { "${params.outdir}/databases/rgi" },
                mode: params.publish_dir_mode,
                enabled: params.save_db,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            ]
        ]
    }

    withName: RGI_MAIN {
        publishDir = [
            [
                path: { "${params.outdir}/arg/rgi/${meta.ID}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                pattern: "*.{txt}",
            ],
            [
                path: { "${params.outdir}/arg/rgi/${meta.ID}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                pattern: "*.{json}",
                enabled: params.arg_rgi_savejson,
            ],
            [
                path: { "${params.outdir}/arg/rgi/${meta.ID}/" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                pattern: "*temp*",
                enabled: params.arg_rgi_savetmpfiles,
            ],
        ]
        ext.args2  = [
            "--alignment_tool ${params.arg_rgi_alignmenttool}",
            "--data ${params.arg_rgi_data}",
            params.arg_rgi_includeloose ? '--include_loose' : '',
            params.arg_rgi_includenudge ? '--include_nudge' : '',
            params.arg_rgi_lowquality ? '--low_quality' : '',
            params.arg_rgi_split_prodigal_jobs ? '--split_prodigal_jobs' : '',
        ].join(' ').trim()
    }

    withName: HAMRONIZATION_ABRICATE {
        publishDir = [
            path: { "${params.outdir}/arg/hamronization/abricate" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.prefix = { "${report}.abricate" }
    }

    withName: HAMRONIZATION_AMRFINDERPLUS {
        publishDir = [
            path: { "${params.outdir}/arg/hamronization/amrfinderplus" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.prefix = { "${report}.amrfinderplus" }
    }

    withName: HAMRONIZATION_DEEPARG {
        publishDir = [
            path: { "${params.outdir}/arg/hamronization/deeparg" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.prefix = { "${report}.deeparg" }
    }

    withName: HAMRONIZATION_RGI {
        publishDir = [
            path: { "${params.outdir}/arg/hamronization/rgi" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.prefix = { "${report}.rgi" }
    }

    withName: HAMRONIZATION_FARGENE {
        publishDir = [
            path: { "${params.outdir}/arg/hamronization/fargene" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.prefix = { "${meta.ID}_${report}.fargene" }
    }

    withName: HAMRONIZATION_SUMMARIZE {
        publishDir = [
            path: { "${params.outdir}/reports/hamronization_summarize" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: ARG_TABIX_BGZIP {
        ext.prefix = { "hamronization_complete_summary_taxonomy" }
        publishDir = [
            path: { "${params.outdir}/reports/hamronization_summarize" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: ARGNORM_ABRICATE {
        publishDir = [
            path: { "${params.outdir}/arg/argnorm/abricate/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.prefix = { "${meta.ID}.normalized.tsv" }
        ext.args   = "--hamronized"
    }

    withName: ARGNORM_AMRFINDERPLUS {
        publishDir = [
            path: { "${params.outdir}/arg/argnorm/amrfinderplus/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.prefix = { "${meta.ID}.normalized.tsv" }
        ext.args   = "--hamronized"
    }

    withName: ARGNORM_DEEPARG {
        publishDir = [
            path: { "${params.outdir}/arg/argnorm/deeparg/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.prefix = { input_tsv.toString().endsWith(".potential.ARG.deeparg.tsv") ? "${meta.ID}.potential.ARG.normalized.tsv" : "${meta.ID}.ARG.normalized.tsv" }
        ext.args   = "--hamronized"
    }

    withName: KOFAMSCAN {
        publishDir = [
            path: { "${params.outdir}/func/kofamscan" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: DBCAN {
        publishDir = [
            path: { "${params.outdir}/func/dbcan" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: VFDB {
        publishDir = [
            path: { "${params.outdir}/func/vfdb" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
